<h1>Produits Disponibles</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <h2><%= item.title %></h2>
      <p><%= item.description %></p>
      <p>Prix : <%= number_to_currency(item.price) %></p>
    </li>
  <% end %>
</ul>